/* Alert */

.alert {
  .btn {
    margin-top: 10px;
  }
}
.alert-success {
  background-color: rgba($success, 0.3);
  border-color: rgba($success, 0.4);
  color: darken($success,10%);

  .alert-link {
    color: darken($success,20%);
  }
}
.alert-info {
  background-color: rgba($info, 0.2);
  border-color: rgba($info, 0.3);
  color: $info;
}
.alert-warning {
  background-color: rgba($warning, 0.2);
  border-color: rgba($warning, 0.3);
  color: $warning;
}
.alert-danger {
  background-color: rgba($danger, 0.2);
  border-color: rgba($danger, 0.3);
  color: $danger;
}
